body {
  font-family: Karla;
  font-style: normal;
}

.header {
  height: 6rem;
  width: 100vw;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 1.846rem 3.416rem;
}

.header__logo {
  display: flex;
}

.header__logo__img {
  width: 2.89rem;
  margin-left: -1.569rem;
}

.header__logo__title {
  margin-left: 0.646rem;
  font-weight: 600;
  font-size: 1.915rem;
  line-height: 2.216rem;
  letter-spacing: -0.1em;
}

.header__project-name {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.108rem;
  line-height: 1.385rem;
  text-align: right;
}

.container {
  width: 65%;
  margin: 0 auto;
  padding-top: 3.416rem;
}

.form__inputs__field {
  border: 1px solid #d5d4d8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 48%;
  padding: 1.015rem;
  font-size: 1.108rem;
  color: #0d0d0d;
}

.form__inputs__field + .form__inputs__field {
  margin-left: 4%;
}

.form__btn {
  margin-top: 1.385rem;
  width: 100%;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  font-size: 1.477rem;
  line-height: 1.754rem;
  text-align: center;
  letter-spacing: -0.1em;
  color: #ffffff;
  padding: 0.923rem 14.308rem;
}

.form__btn:hover {
  background: linear-gradient(90.41deg, #351441 1.14%, #3e0d4e 100%);
  cursor: pointer;
}

.meme__img {
  margin: 3.323rem auto 5.077rem;
}
